.landing {
    height: 100vh;
    background-image: url(../img/denise-jans-Lq6rcifGjOU-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
}

.title {
    position: relative;
    top: 40%;

    &__main {
        font-size: 5rem;
        text-transform: uppercase;
        color: rgb(230, 181, 23);
        text-shadow: .1rem .2rem .2rem rgba(0, 0, 0, 1);

    }

    &__sub {


    }
}