@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

//Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Font
html {
    font-size: 100%;

    @media only screen and (max-width: 900px) {
        font-size: 62.5%;
    }

    @media only screen and (max-width: 500px) {
        font-size: 50%;
    }
}

base {
    font-family: 'Anton', sans-serif;
}


//Hide id
.id {
    display: none;
}



